.body{
    margin: 0px;
}

.background {
    width: 100%;
    height: 100vh;
    background-image: url("vecteezy_forest-game-background_.jpg");
    background-size: cover;
    background-repeat: repeat-x;
    overflow-x: hidden;
    position: absolute;
    
}
.boy{
    height: 210px;
    margin-top: 347px;
    position: absolute;
}
.box {
    width: 160px;
    height: 250px;
    position: absolute;
    margin-top: 443px;
    background-image: url("dragon\ \(2\).gif");
    background-size: contain;
    background-repeat: no-repeat;

}
.score{
    font-size: 50px;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 20px;
    position: absolute;
}

.end{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-image: url(dragon\ back\ \(2\).jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 90px;
    font-weight: bold;
    color: white;
    font-family: "Broadway";
    visibility: hidden;
}
.btn{
    height: 40px;
    width: 300px;
    margin-top: 50px;
    font-size: 25px;
    font-weight: 1000;
    background-color: rgb(14, 223, 24);
    border: none;
    border-radius: 10px;
}
.btn:hover{
    height: 37px;
    width: 305px;
    background-color: aquamarine;
    cursor: pointer;
    color: black;
}
